body{
    height:95vh;
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;

}
div{
    background-color: rgb(229, 229, 229);
    border:2px solid black;
    padding:20px 20px;
    border-radius: 10%;
}
input{
    margin:10px;
    height: 25px;
    border-radius: 6px;
}
form{
    font-family: calibri;
    font-size: xx-large;
    font-weight: 400;
}
input[type="submit"]{
	border-radius: 5px;
	background-color: #ff751a;
	height: 35px;
	width: 80px;
	font-size: 20px;
    color: white;
}
